body{
    margin:0;
    padding:0;
}

img{
    width:100%;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    line-height: normal;
}

/* -------------------------------------------
                    NAVBAR
 ---------------------------------------------*/
.top-navigation{
    box-shadow:rgba(0,0,0,0.08) 0 0 5px 1px;
    border-bottom:1px solid #e2e2e2;
}

.top-navigation a{
    text-decoration: none;
}

.navigation-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:20px;
    margin-right: 20px;
    padding:0;
}

.logo{
    float:left;
    align-self: start;
}

.logo a svg{
    margin-top: 6px;
    height:23px;
}

.center-navigation a{
    color:black;
    font-weight: bold;
}

.center-navigation span{
    color:#333;
    font-weight: 400;
    font-size:13px;

}

.social-icons{
    justify-items: end;

}

.social-icons a{
    height:17px;
    width:26px;
}

.social-icons a svg{
    background-color: #eee;
    margin:5px;
    padding:5px;
    border:1px solid #eee;
    border-radius: 100%;
    width:14px;
    height:14px;
    vertical-align: middle;
}

#bookmark-comments svg{
    border:0;
    background-color:transparent;
    border-radius: 0;
    width:16px;
    height:25px;

}

/* -------------------------------------------
            ARTICLE IMG & AUTHOR INFO
 ---------------------------------------------*/
.container{
    
}

.brief-info{
    margin:auto;
    margin-top:42px;
    text-align: center;
    /* max-width: 670px; */
}

.brief-info h1{
    font-style:italic;
    font-size: 2.5rem;
    line-height: 3rem;
    color:#121212;
    font-weight: 700;
    /* margin-bottom:1rem; */
    margin: 22px auto;
    /* width: 670px;  */
    /* here to align article title with author and text */
}

.brief-info h1 span {
    display:block;
    /* text-align: left; */
    margin: auto;
}


/* @media(min-width:1024px){
    .brief-info h1{
    width:600px;
    }
} */

.fig-container {
    display: block;
    margin: 0px auto;
    max-width: 945px;
}

figcaption {
    margin-left: 0px;
    max-width: 720px;
    color: #666;
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 16px;
}

.author-info {
    max-width: 800px;
     /* Here to adjust author aligment */
    margin:48px auto;
    margin-left: calc((100% - 580px) / 2);
}

.author-info p{
    text-align: left;
}

.author-info > .float-left{
    margin-top:8px;
}

.float-left {
    float: left;
}

.author a{
    color: #333;
    font-weight: 700;
}

.author a:hover {
    text-decoration: none;
}

.social-icons a {
    text-decoration: none;
}

.float-left time {
    font-weight: 500;
    color: #333;
    font-size: 13px;
}

/* -------------------------------------------
            MAIN ARTICLE CONTENT
 ---------------------------------------------*/
.main-content {
    display:block;
    /* clear:both; */
    max-width: 1170px;       
    /* Here to control Side bar  */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    /* padding-left: 200px;
    padding-right: 70px; */
}

.main-content p {
    font-size: 20px;
}

.content-sections {
    float: left;
    width: 600px;
    margin: auto;  
    margin-left: calc((100% - 580px) / 2);
    /* border:1px solid black; */
}

.content-sections p{
    font-weight:400;
    color:#333;
    font-size: 20px;
    line-height: 30px; 
    padding:0;
    margin-bottom: 0;
    margin-top: 12.5px;
}

/* .content-sections p:first-child{
    margin-top: 0px;
} */

/* .content-sections:before{
    clear: both;
} */
.msg{
    float: left;
    margin: auto;
    width: 600px;   
    margin-left: calc((100% - 580px) / 2);
    position: relative;
    margin-top: -45px;
    margin-bottom: 10px;
    padding-left:15px;
    border-color: rgb(226, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 3px;
}
.msg h3{
    font-size: 16px;
    margin-bottom: 0px;
}

.msg p{
    font-size: 13px;
    margin-top: 6px;
}

.msg a{
    font-size: 11px;
}

.msg svg{
    position: absolute;
    width: 20px;
    left: 20px;
    bottom: -9px;
}

.msg svg path{
    fill: rgb(255, 255, 255);
    stroke: rgb(226, 226, 226);
}

.msg button{
    position: relative;
    top: -85px;
    margin-left: 555px;
}

.msg button svg{
    position: absolute;
    width: 13px;
    fill: rgb(102, 102, 102);
}

.subscribe-ads {
    text-align: center;
    padding:27px;
    color:#333;
}

.subscribe-ads p, .subscribe-ads a{
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
}

.subscribe-ads a{
    color: #326891;
    text-decoration: none;
}

.subscribe-ads-border-top{
    width: 72px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0px auto 18px;
}

.subscribe-ads-border-bottom{
    width: 72px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 18px auto 0px;
}

.subscribe-ads a{
    display: block;
}


.side-bar {
    float: right;
    width: 210px;
}

.newsletter-container {
    margin-top:180px;
}

.newsletter-container h2 {
    font-weight: 700;
    font-size: 18px;
    width: 180px;
    margin-bottom: 5px;
}

.newsletter-container p {
    width: 180px;
    font-weight: 500;
    font-size: 13px;
    color: rgb(102,102,102);
    margin-top: 5px;
}

.newsletter-container button {
    color: white;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgb(86, 123, 149);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(86, 123, 149);
    border-radius: 4px;
    padding: 10px;
    margin: 0px;
    text-align: center;
    width: 180px;
    height: 35px;

}


.editors-picks-wrap {
    width: 200px;
}

.pick-element {
    display: block;
    padding-top: 10px;
    position: relative; /* for absolute positioning on editors pick */
}

.pick-element a {
    text-decoration: none;
}
.pick-element a:hover {
    text-decoration: underline;

}

.editors-picks-wrap h2 {
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(226, 226, 226);  
    margin-bottom: 5px;
}

.pick-img img {
    display: inline-block;
    height: auto;
    width: 75px;
 /*    float: left; */
    /* clear: both;  */
     /* to avoid everlap among picks */
 }

.pick-text {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: rgb(51, 51, 51);  
    width: 60%;
    height: 100%;
    position: absolute;  /* absolute positioning relative to article */
    top:15px;
    left: 85px;
}

#paid-post {
    background: #F6F6F6;
    margin-top: 5px;
    padding-bottom: 10px;;
}

#paid-post h3 {
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
    color: #000000;
    top:0;
}
.paid-text {
    color: #121212;
    font-size: 12px;
    line-height: 15px;
    position: absolute;  /* absolute positioning relative to article */
    top:38px;
    left: 85px;
}


.w-945{
    display: block;
    margin: 0px auto;
    max-width: 945px;
    clear: both;
}

.infographics-section{
    width:100%;
    display: block;
    
}

.infographics-section h2{
    padding-top: 35px;
    font-size: 20px;
    margin: 0;
}

.infographics-section p{
    margin: 0;
    padding-top: 4px;
    font-size: 14px;
}

.infographics{
    position: relative;
}

.col-4{
    width:25%;
    float: left;
    position: absolute;
    display: block;
}

.col-4-1{
    top: 24.8264%;
    left: 0.0436%;
}
.col-4-2{
top: 24.8264%;
    left: 25.5619%;
}

.col-4-3{
    top: 24.8264%;
    left: 51.0800%;
}

.col-4-4{
    top: 24.8264%;
    left: 76.5982%;
}

.col-4-5{
    top: 73.4375%;
    left: 0.0436%;
}

.col-4-6{
    top: 73.4375%;
    left: 25.5619%;
}
.col-4-7{
    top: 73.4375%;
    left: 51.0800%;
}

.col-4-8{
    top: 73.4375%;
    left: 76.5982%;
}

.main-content-footer {
    margin-top:16px;
    margin-bottom:25px;
}
.main-content-footer span{
    color: #666666;
    font-size:12px;
    font-weight:400;
    line-height: 16px;
    margin-bottom: 12px;
}

.main-content-footer a{
    color: #666666;
}

.main-content-footer a:hover{
    text-decoration:none;
}

.comments{
    float:left;
}

.comments button{
    color: white;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgb(86, 123, 149);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(86, 123, 149);
    border-radius: 4px;
    padding: 10px;
    margin: 0px;
    text-align: center;
    width: 330px;
    height: 36px;
}

.social{
    float:right;
}

.more-news{
    max-width:1200px;
    margin-top:45px;
    margin-left:34px;
    margin-right:34px;
    padding-top:20px;
    padding-left:40.5px;
    padding-right:40.5px;
    display: block;
    position: relative;
    float: left;
}

.more-news-columns{
    border-top:1px solid black;
    float:left;
    width:72%;
}

.more-news-columns h2,
.most-popular-news h2{
    padding-top:17px;
    font-size:16px;
    line-height: 22px;
    clear:both;
}

.most-popular-news h2{
    color:#333;
}
.more-news-columns h2 a{
    text-decoration: none;
    color:black;
    font-weight:700;
}

.more-news-columns h2 a:hover{
    text-decoration: underline;
}

.col-3{
    width:272px;
    display: block;
    position:relative;
    float:left;
    padding-bottom:20px;
    margin-left:20px;
}

#margin-left-0{
    margin-left:0px;
}

.col-3 a{
    text-decoration: none;
    color:#121212;
    font-size:18px;
    font-weight:500;
    line-height:22px;
}

.col-3 span{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: rgb(153, 153, 153);
}

.col-3 a span{
    text-align: right;
    line-height:14px;
    padding-top:5px;
}

.col-3 img{
    display: block;
}

.col-3 span{
    display: block;
}

.editor-pick{
    border-top:1px solid black;
}

.most-popular-news{
    width:25%;
    float:left;
    border-top:1px solid black;
    margin-left:30px;
}

.most-popular-news a{
    border-top:1px solid #e2e2e2;;
    display: block;
    text-decoration: none;
    color:#121212;
    font-size:19px;
    line-height:23px;
    font-weight:500;
    padding:15px 0;
}

.most-popular-news a:hover{
    color: #666
}